/*generic styling - base css*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
  background: $bg-color;
}

h1 {
  font-size: $fs-large;
  text-align: center;

}

h2 {
  text-transform: uppercase;
  font-size: $fs-med;
  margin-bottom: $spacing-med;
  margin-top: $spacing-med;
}

p, span, ul, li, td {
  color: $base-font-colour;
}
ul { margin-bottom: $spacing-med; }

table {
  margin-bottom: $spacing-med;
  border-spacing: 10px;
  border-collapse: separate;
}

.inline-flex {
  display: inline-flex;
  width: 100%;
  margin-bottom: $spacing-med;
}

.container {
  height: 100%;
  width: 100%;
}
