/*Fonts and typography here - using https://transfonter.org/ to generate font-faces */
@font-face {
    font-family: 'Metropolis Extra';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-ExtraLightItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-RegularItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-Light.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-LightItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Semi';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-ExtraLight.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-ExtraBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Semi';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-SemiBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-Black.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-Thin.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-BlackItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-ThinItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../../assets/fonts/Metropolis-master/Metropolis-MediumItalic.woff2') format('woff2'),
        url('../../assets/fonts/Metropolis-master/Metropolis-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

$fs-small: 12px;
$fs-med: 16px;
$fs-large: 24px;
$fs-xl: 32px;

$base-font-family: "Metropolis";
$base-font-colour: #898989;


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
{
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25em;
}

b {
  font-weight: bold;
}
