<!doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Waffle: Discover personalised daily restaurant offers" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="https://joinwaffle.com/assets/images/share-thumbnail.jpg" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Waffle: Discover personalised daily restaurant offers" />
  <meta name="twitter:image" content="https://joinwaffle.com/assets/images/share-thumbnail.jpg" />

  <title>Waffle</title>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="assets/external/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="assets/external/slick/slick-theme.css"/>
  <link type="text/css" rel="stylesheet" href="assets/external/lightgallery/dist/css/lightgallery.css" />
  <link rel='icon' href='assets/images/icons/favicon.png' type='image/x-icon' />

  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
  crossorigin="anonymous"> -->
  <link rel="stylesheet" href="assets/css/styles.css?v=1.0">
</head>

<body>
  <div class="container">
    <div id="header" class="inline-flex">
      <div>
        <h1>Title here</h1>
        <h2 class="desc">Description here</h2>
      </div>
      <div class="live">
        <span>Live</span>
      </div>
    </div>
    <div class="inline-flex">
      <div class="img-container flex-item">
        <div id="lightgallery" class="thumbnails">
          <a href="assets/images/temp-food1.jpg">
              <img src="assets/images/temp-food1.jpg" />
          </a>
          <a href="assets/images/temp-food2.jpg">
              <img src="assets/images/temp-food2.jpg" />
          </a>
        </div>
      </div>
      <div class="flex-item align-top-content">
        <h2>Offer periods</h2>
        <table>
          <tr>
            <td>Mon</td>
            <td>
              <p>12.00 - 15.00</p><!-- start - end -->
              <p>we can have multiple</p>
              <p>15.00 - 16.00</p>
              <p>Ordered by time asc</p>
            </td>
          </tr>
          <tr>
            <td>Tues</td>
            <td>
              <p>13.00 - 14.00</p>
            </td>
          </tr>
        </table>
        <button>Reserve offer</button>
      </div>
    </div>
    <h2>About {{name}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis, magna euismod congue laoreet, purus sem cursus sapien, vitae fermentum lorem tortor vitae est. Phasellus mattis turpis ut quam hendrerit accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vulputate urna id ligula cursus, eget eleifend magna posuere. Proin sollicitudin tincidunt felis, non sodales tellus feugiat quis. Maecenas fringilla porttitor risus nec euismod. Maecenas bibendum nunc vel laoreet tincidunt. Nullam ac lobortis leo, non convallis purus. Cras erat massa, sollicitudin non tortor sit amet, tempus ultricies tellus. Duis iaculis metus lacinia commodo molestie. Nulla interdum tortor velit, ut pellentesque eros aliquet eu.</p>
    <h2>About the offer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis, magna euismod congue laoreet, purus sem cursus sapien, vitae fermentum lorem tortor vitae est. Phasellus mattis turpis ut quam hendrerit accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vulputate urna id ligula cursus, eget eleifend magna posuere. Proin sollicitudin tincidunt felis, non sodales tellus feugiat quis. Maecenas fringilla porttitor risus nec euismod. Maecenas bibendum nunc vel laoreet tincidunt. Nullam ac lobortis leo, non convallis purus. Cras erat massa, sollicitudin non tortor sit amet, tempus ultricies tellus. Duis iaculis metus lacinia commodo molestie. Nulla interdum tortor velit, ut pellentesque eros aliquet eu.</p>
    <h2>Popular dishes</h2>
    <ul>
      <li>Dish 1 and offer here</li>
      <li>blabal</li>
    </ul>
    <div style="margin-bottom: 20px;"><a href="/">See menu</a></div>
    <div class="map-container"><div id='map'></div></div>
    <h2>Opening times</h2>
  </div><!-- container -->
  <script src='assets/js/jquery-3.3.1.min.js'></script>
  <script type="text/javascript" src="assets/external/slick/slick.min.js"></script><!-- TODO: remove this from desktop and in custom js add check for null -->
  <script src="assets/external/lightgallery/dist/js/lightgallery-all.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery({thumbnail: true});
    });
  </script>
  <script src="assets/js/custom.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbQAg_LONuN4YH1vxt2DJ5CRdCiFuXhM0"></script>
</body>
</html>
