<!doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Waffle: Discover personalised daily restaurant offers" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="https://joinwaffle.com/assets/images/share-thumbnail.jpg" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Waffle: Discover personalised daily restaurant offers" />
  <meta name="twitter:image" content="https://joinwaffle.com/assets/images/share-thumbnail.jpg" />

  <title>Waffle</title>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="assets/external/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="assets/external/slick/slick-theme.css"/>
  <link rel='icon' href='assets/images/icons/favicon.png' type='image/x-icon' />

  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
  crossorigin="anonymous"> -->
  <link rel="stylesheet" href="assets/css/styles.css?v=1.0">
</head>

<body>
  <div class="container">
    <div class="map-container"><div id='map'></div></div>
    <div class="modal--container">
      <div class="slider-container" style="position: relative;">
        <div class="my-slider">
          <div class='top-bg'></div>
          <div class="top-bg bg-2"></div>
          <div class="top-bg bg-3"></div>
        </div>
        <div class="absolute-elem live">
          <span>Live</span>
        </div>
      </div>
      <div class="main--content">
        <div class="logo-container">
          <div id="logo"></div><!-- restaurant logo icon -->
        </div>
        <div class="inline-flex">
          <div class="flex-item"><b>££</b>£</div>
          <div class="flex-item inverse"><i class="fas fa-phone"></i></div>
        </div>
        <h1 class="">Title here</h1>
        <p class="desc">Description here</p>
        <button>Reserve offer</button>
        <h2>About {{name}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis, magna euismod congue laoreet, purus sem cursus sapien, vitae fermentum lorem tortor vitae est. Phasellus mattis turpis ut quam hendrerit accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vulputate urna id ligula cursus, eget eleifend magna posuere. Proin sollicitudin tincidunt felis, non sodales tellus feugiat quis. Maecenas fringilla porttitor risus nec euismod. Maecenas bibendum nunc vel laoreet tincidunt. Nullam ac lobortis leo, non convallis purus. Cras erat massa, sollicitudin non tortor sit amet, tempus ultricies tellus. Duis iaculis metus lacinia commodo molestie. Nulla interdum tortor velit, ut pellentesque eros aliquet eu.</p>
        <h2>About the offer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis, magna euismod congue laoreet, purus sem cursus sapien, vitae fermentum lorem tortor vitae est. Phasellus mattis turpis ut quam hendrerit accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vulputate urna id ligula cursus, eget eleifend magna posuere. Proin sollicitudin tincidunt felis, non sodales tellus feugiat quis. Maecenas fringilla porttitor risus nec euismod. Maecenas bibendum nunc vel laoreet tincidunt. Nullam ac lobortis leo, non convallis purus. Cras erat massa, sollicitudin non tortor sit amet, tempus ultricies tellus. Duis iaculis metus lacinia commodo molestie. Nulla interdum tortor velit, ut pellentesque eros aliquet eu.</p>
        <h2>Offer periods</h2>
        <table>
          <tr>
            <td>Mon</td>
            <td>
              <p>12.00 - 15.00</p><!-- start - end -->
              <p>we can have multiple</p>
              <p>15.00 - 16.00</p>
              <p>Ordered by time asc</p>
            </td>
          </tr>
          <tr>
            <td>Tues</td>
            <td>
              <p>13.00 - 14.00</p>
            </td>
          </tr>
        </table>
        <h2>Popular dishes</h2>
        <ul>
          <li>Dish 1 and offer here</li>
          <li>blabal</li>
        </ul>
        <h2>How to claim the offer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis, magna euismod congue laoreet, purus sem cursus sapien, vitae fermentum lorem tortor vitae est. Phasellus mattis turpis ut quam hendrerit accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vulputate urna id ligula cursus, eget eleifend magna posuere. Proin sollicitudin tincidunt felis, non sodales tellus feugiat quis. Maecenas fringilla porttitor risus nec euismod. Maecenas bibendum nunc vel laoreet tincidunt. Nullam ac lobortis leo, non convallis purus. Cras erat massa, sollicitudin non tortor sit amet, tempus ultricies tellus. Duis iaculis metus lacinia commodo molestie. Nulla interdum tortor velit, ut pellentesque eros aliquet eu.</p>
        <h2>Opening times</h2>
        <button>Reserve offer</button>
      </div><!-- end main content -->
    </div><!-- end modal container -->
  </div><!-- end container -->
  <script src='assets/js/jquery-3.3.1.min.js'></script>
  <script type="text/javascript" src="assets/external/slick/slick.min.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbQAg_LONuN4YH1vxt2DJ5CRdCiFuXhM0"></script>
</body>
</html>
