button {
  border-radius: $border-radius-med;
  border: 1px solid green;
  font-size: $fs-med;
  background: none;
  color: green;
  padding: 10px 25px;
  margin: 0px auto;
  display: block;

  &:after {
    content: "";
    display: inline-block;
    background: url(../images/svg/tick-icon.svg) no-repeat;
    width: $fs-med;
    vertical-align: middle;
    height: $fs-med;
    margin-left: 6px;
  }
}
