#lightgallery {

  &.thumbnails {
    a:not(:first-child) {
      //make it a thumbnail
      height: 100px;
      width: 100px;

      > img {
        width: inherit;
        object-fit: cover;
      }
    }
  }


}


.lg-actions button:after {
  background: none;
}
