/*Offer GUI component*/

@media screen and (min-width: $tablet) {

  html, body {
    background: none;
  }

  h1 { text-align: left; }

  .container {
    width: 90%;
    margin: 4em auto;
    padding: 0px $spacing-med;
    height: unset;
  }

  .live {
    border-radius: $border-radius-xs;
  }

  .map-container { height: 300px; }
  #map { height: 100%; }


}//tablet and desktop viewport

@media screen and (max-width: $tablet) {

  .modal--container {
    position: absolute;
    z-index: 2;
    top: 150px;
    background: white;
    width: 90%;
    margin: $spacing-med 5%;
    box-sizing: border-box;
    border-radius: $border-radius-xl;
    border: 1px solid #80808021;
    overflow: hidden;
  }

  .map-container, #map {
    height: 100%;
    width: 100%;
  }
  #map {
    position: relative;
    overflow: visible;
  }

  #logo {
    background-image: url("../images/svg/temp_logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:  absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 75px;
    width:  75px;

  }
  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px; //half the height
    background: white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  .absolute-elem {
    position: absolute;
    bottom: 0px;
    right: 20px;

    @media screen and (max-width: $mobile-xs){
      right: 15px;
    }

    border-top-left-radius: $border-radius-s;
    border-top-right-radius: $border-radius-s;

  }

}//end mobile viewport

.live {
  background: $red;
  padding: 2px 10px;
  height: 20px;
  span {
    padding: 10px;
    color: white;
  }
}

.main--content {
  padding: $spacing-med;
  position: relative;
}

.desc {
  margin-bottom: $spacing-med;
  text-align: center;
  font-weight: 500;
}

.top-bg {
  background-image: url('../images/temp-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;

  &.bg-2 { background-image: url('../images/temp-food1.jpg');}
  &.bg-3 { background-image: url('../images/temp-food2.jpg');}

}//end top-bg



.inline-flex {
  justify-content: space-between;
  .flex-item {
    flex: 1;
    &.inverse { transform: scaleX(-1);}  //positions at end and flips phone round
    &.align-top-content {
      padding-left: $spacing-med;
      > p,h1,h2,div { margin-top: 0px; padding-top: 0px;}
      button { margin: initial;}
    }
  }

}
