.my-slider {
  position: relative;
  overflow: hidden;


  .slick-prev {
    z-index: 99;
    left: 0px;

    &:before {
      content: fa-content($fa-var-angle-left);
    }
  }
  .slick-next {

    right: 0px;

    &:before {
      content: fa-content($fa-var-angle-right);
    }
  }

  .slick-next:before, .slick-prev:before {
    font-family: "Font Awesome 5 Free";
  }
  .slick-arrow {
    &:after { content: none; background: none;}
  }

}//end my-slider
