
$border-radius-xs: 4px;
$border-radius-s: 8px;
$border-radius-med: 12px;
$border-radius-xl: 26px;

$spacing-med: 20px;


//viewpoints
$mobile-xs: 320px;
$tablet: 768px;

//colours
$bg-color: #F0F0F0;
$red: #FF344B;
